#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#																Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory.
# Also, a non-absolute path will be relative to config's file dir
#
#---
data.dir = ./data/

#-------------------------------------------------------------------------------
# Loss of function (LOF)
#-------------------------------------------------------------------------------
	
# It is assumed that even with a protein coding change at the
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

# It is assumed that even with a protein coding change at the
# first 5% of the protein:
#				"..suggesting some disrupted transcripts are
#				rescued by transcriptional reinitiation at an
#				alternative start codon."
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated "codon/aminoAcid[+*]" list
#			Where 'codon' is in uppper case, aminoAcid is a one letter
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------
	
codon.Standard				: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

#-------------------------------------------------------------------------------
# Databases & Genomes
#
# One entry per genome version.
#
# For genome version 'ZZZ' the entries look like
#		ZZZ.genome				: Real name for ZZZ (e.g. 'Human')
#		ZZZ.reference			: [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#		ZZZ.chrName.codonTable	: [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

#---
# Centre for Ecological Genetics (AU) - Custom Databases
#---
# Orchesella cincta genome, GCA_001718145.1_ASM171814v1_genomic.fna
GCA_001718145.1_ASM171814v1_genomic.genome : Orchesella cincta
GCA_001718145.1_ASM171814v1_genomic.file_location : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Orchesella_cincta/vcf/reference/GCA_001718145.1_ASM171814v1_genomic.fna
GCA_001718145.1_ASM171814v1_genomic.addition_date : 05/03/2025
GCA_001718145.1_ASM171814v1_genomic.data_directory : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Orchesella_cincta/vcf/snpeff/data/GCA_001718145.1_ASM171814v1_genomic

# Isotoma viridis genome, EG_IsoVir_23082024_genomic.fna
EG_IsoVir_23082024_genomic.genome : Isotoma viridis
EG_IsoVir_23082024_genomic.file_location : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Isotoma_viridis/vcf/reference/EG_IsoVir_23082024_genomic.fna
EG_IsoVir_23082024_genomic.addition_date : 05/03/2025
EG_IsoVir_23082024_genomic.data_directory : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Isotoma_viridis/vcf/snpeff/data/EG_IsoVir_23082024_genomic

# Orchesella villosa genome, EG_OrcVil_23072024_genomic.fna
EG_OrcVil_23072024_genomic.genome : Orchesella villosa
EG_OrcVil_23072024_genomic.file_location : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Orchesella_villosa/vcf/reference/EG_OrcVil_23072024_genomic.fna
EG_OrcVil_23072024_genomic.addition_date : 05/03/2025
EG_OrcVil_23072024_genomic.data_directory : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Orchesella_villosa/vcf/snpeff/data/EG_OrcVil_23072024_genomic

# Pogonognathellus flavescens genome, EG_PogFla_23072024_genomic.fna
EG_PogFla_23072024_genomic.genome : Pogonognathellus flavescens
EG_PogFla_23072024_genomic.file_location : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Pogonognathellus_flavescens/vcf/reference/EG_PogFla_23072024_genomic.fna
EG_PogFla_23072024_genomic.addition_date : 05/03/2025
EG_PogFla_23072024_genomic.data_directory : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Pogonognathellus_flavescens/vcf/snpeff/data/EG_PogFla_23072024_genomic

# Entomobrya nicoleti genome, EG_EntNic_05092024_genomic.fna
EG_EntNic_05092024_genomic.genome : Entomobrya nicoleti
EG_EntNic_05092024_genomic.file_location : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Entomobrya_nicoleti/vcf/reference/EG_EntNic_05092024_genomic.fna
EG_EntNic_05092024_genomic.addition_date : 05/03/2025
EG_EntNic_05092024_genomic.data_directory : /faststorage/project/EcoGenetics/people/Jeppe_Bayer/population_genetics/steps/collembola/Entomobrya_nicoleti/vcf/snpeff/data/EG_EntNic_05092024_genomic

