#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory.
# Also, a non-absolute path will be relative to config's file dir
#
#---
data.dir = ./data/

#-------------------------------------------------------------------------------
# Loss of function (LOF)
#-------------------------------------------------------------------------------

# It is assumed that even with a protein coding change at the
# last 5% of the protein, the protein could still be functional.
lof.ignoreProteinCodingAfter  : 0.95

# It is assumed that even with a protein coding change at the
# first 5% of the protein:
#				..suggesting some disrupted transcripts aren#ttttrescued by transcriptional reinitiation at ann#ttttalternative start codon.
lof.ignoreProteinCodingBefore : 0.05

# Larger deletions removing either the first exon or more than
# 50% of the protein-coding sequence of the affected transcript
lof.deleteProteinCodingBases : 0.50

#-------------------------------------------------------------------------------
# Codon tables
#
# Format:	It's a comma separated codon/aminoAcid[+*] list
#			Where 'codon' is in uppper case, aminoAcid is a one letter
#			code, '+' denotes start codon and '*' denotes stop codon.
#
# References:	http://www.ncbi.nlm.nih.gov/Taxonomy/Utils/wprintgc.cgi
#				ftp://ftp.ncbi.nih.gov/entrez/misc/data/gc.prt
#-------------------------------------------------------------------------------

codon.Standard				: TTT/F, TTC/F, TTA/L, TTG/L+, TCT/S, TCC/S, TCA/S, TCG/S, TAT/Y, TAC/Y, TAA/*, TAG/*, TGT/C, TGC/C, TGA/*, TGG/W, CTT/L, CTC/L, CTA/L, CTG/L+, CCT/P, CCC/P, CCA/P, CCG/P, CAT/H, CAC/H, CAA/Q, CAG/Q, CGT/R, CGC/R, CGA/R, CGG/R, ATT/I, ATC/I, ATA/I, ATG/M+, ACT/T, ACC/T, ACA/T, ACG/T, AAT/N, AAC/N, AAA/K, AAG/K, AGT/S, AGC/S, AGA/R, AGG/R, GTT/V, GTC/V, GTA/V, GTG/V, GCT/A, GCC/A, GCA/A, GCG/A, GAT/D, GAC/D, GAA/E, GAG/E, GGT/G, GGC/G, GGA/G, GGG/G

#-------------------------------------------------------------------------------
# Databases & Genomes
#
# One entry per genome version.
#
# For genome version 'ZZZ' the entries look like
#		ZZZ.genome				: Real name for ZZZ (e.g. 'Human')
#		ZZZ.reference			: [Optional] Comma separated list of URL to site/s where information for building ZZZ database was extracted.
#		ZZZ.chrName.codonTable	: [Optional] Define codon table used for chromosome 'chrName' (Default: 'codon.Standard')
#
#-------------------------------------------------------------------------------

#---
# Centre for Ecological Genetics (AU) - Custom Databases
#---

# Entomobrya nicoleti genome, version EG_EntNic_19022024
EG_EntNic_19022024.genome : Entomobrya nicoleti
EG_EntNic_19022024.file_location : /faststorage/project/EcoGenetics/BACKUP/reference_genomes/Entomobrya_nicoleti/EG_EntNic_19022024_genome.fasta
EG_EntNic_19022024.addition_date : 11/03/2024

